@font-face {
    font-family: 'Chopin';
    src: url('Letras/chopin_script/ChopinScript.otf') format('opentype');
}
@font-face {
    font-family: 'exmouth';
    src: url('Letras/exmouth/exmouth_.ttf') format('truetype');
}

.c-fs {
    font-family: 'Chopin', sans-serif;
    color: #def3ea;
    font-size: 5em;
    letter-spacing: 0.2em;
}
@keyframes fadein {
    0% {
        opacity: 0
    }
}
.fs-3, .fw-normal{
    font-family: 'exmouth';
    color: #ffefff;
}

body {
    background: #18283d url('IMG/Header.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
}

canvas {
    position: absolute;
    display: block;
    filter: blur(6px) drop-shadow(0 0 30px rgba(51, 180, 172, 1));
    transform-origin: 0 100%;
    transform: skewX(-20deg);
    animation: fadein 6s 1;
}
