body {
    cursor: url('Cursores/Gato/AS2.cur') 32 32, auto;
    background-color: #E6E6FA; /* Lila Claro */
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.butterfly {
    position: absolute;
    width: 50px;
    height: 50px;
}
a, .btn {
    cursor: url('Cursores/Gato02/ASK2.cur') 32 32, auto;
}

.navbar {
    background-color: #9370DB; /* Lila Oscuro */
}

.custom-imgFluid{
    max-width: 250px;
}

.carousel-item img {
    max-height: 500px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.carousel-caption {
    position: static;
    padding-top: 10px;
    margin-top: 20px;
    background-color: rgba(147, 112, 219, 0.3);
    color: #0d39ac;
}

.pg1 {
    background-color: #FFC0CB;
}

.pg2 {
    background-color: #FF69B4;
}

.pg3 {
    background-color: #9370DB;
}

.pg4 {
    background-color: #ADD8E6;
}

.card {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #176d95;
}

.btnSubmit {
    background-color: #FF69B4;
    color: white;
}

.btnReset {
    background-color: #ADD8E6;
    color: white;
}

.btn-primary {
    background-color: #FF69B4;
    color: white;
}

.fixed-size {
    width: 300px;
    height: 300px;
    object-fit: contain;
}
footer a{
    font-size: 1.5em;
}