body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.parallax {
    background-image: url('https://i.pinimg.com/736x/d0/2b/c5/d02bc54774b0affe6112a7c71fc414ba.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.5em;
}
