body{
    margin: 0;
    height: 100vh;
    background-color: aliceblue;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header p {
    font-style: italic;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 10px auto;
}
h2{
    text-decoration: underline #06539f;
}
table,th,tr,td {
    border: 1px solid grey;
    border-spacing: 0;
}
table{
    width: 80%;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 50%;
    height: 10%;
}
.bold{
    font-weight: bold;
}
video{
    width: 500px;
    height: 300px;
}
li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#italic {
    font-style: italic;
}