body{
    margin: 0;
    height: 100vh;
    background-color: aliceblue;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header p {
    font-style: italic;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}
section{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}
h2{
    text-decoration: underline #06539f;
}
table,th,tr,td {
    border: 1px solid grey;
    border-spacing: 0;
}
table{
    width: 80%;
    text-align: center;
}
th{
    background-color: rgba(100, 149, 237, 0.3);

}
form{
    display: flex;
    flex-direction: column;
}

